{{/*  Sidebar widgets: Twitter embed + blogroll  */}}

<h2>A Temple of Texts</h2>
<ul>
  <li><a href="https://poets.org/poem/ulysses">Tennyson – “Ulysses”</a></li>
  <li><a href="https://www.poetryfoundation.org/poems/45873/sonnet-73-that-time-of-year-thou-mayst-in-me-behold">
      Shakespeare – Sonnet 73</a></li>
  <li><a href="https://www.poetryfoundation.org/poems/46548/ozymandias">Shelley – “Ozymandias”</a></li>
  <li><a href="https://www.poetryfoundation.org/poems/43293/the-second-coming">Yeats – “The Second Coming”</a></li>
</ul>

